<script type="text/javascript" src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
<script type="text/javascript" src="http://cdn.robotwebtools.org/roslibjs/current/roslib.min.js"></script>

<script type="text/javascript" type="text/javascript">
  // Connecting to ROS
  // -----------------

  var ros = new ROSLIB.Ros({
    url : 'ws://localhost:9090'
  });

  ros.on('connection', function() {
    console.log('Connected to websocket server.');
  });

  ros.on('error', function(error) {
    console.log('Error connecting to websocket server: ', error);
  });

  ros.on('close', function() {
    console.log('Connection to websocket server closed.');
  });


</script>
 



<!-- Page Heading/Breadcrumbs -->
<div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Processing Status</h1>
          <ol class="breadcrumb">
              <li><a href="/">Home</a>
              </li>
              <li class="active">Processing</li>
          </ol>
      </div>
</div>

{{#if sysMsg.success}}
<div class="row">
      <div class="alert alert-success">
      <strong>Success!</strong>{{sysMsg.content}}
    </div>
</div>
{{/if}}

<div class="row">
        <div class="col-md-10">
          <h3>Processing Status</h3>
          <p>Sender Name: {{username}}</p>
       {{#each result}}
          <p>Receiver Name: {{this.receiver}}</p>
          <p id="processStatus">Process Status: {{this.processing}}</p>
          <p>Total Number of non-processing job: {{this.number}} </p>
      </div>
      {{/each}}
</div>

<script>
  var doc = document.getElementById('processStatus');
  console.log(doc);
  {{#each result}}
  if({{this.processing}} == 1)
    doc.innerHTML = "Process Status: Processing";
  else
    doc.innerHTML = "Process Status: Not being processing";
  {{/each}}
</script>

