<!-- Page Content -->
<div class="container">

<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            {{restName}}
        </h1>
        <ol class="breadcrumb">
            <li><a href="/">Home</a>
            </li>
            <li class="active">
                {{restName}}
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- Content Row -->
<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">


        <!-- Date/Time -->
        <p>
            <i class="fa fa-clock-o"></i>
                Posted on {{postTime}}
        </p>

        <hr>

        <!-- Preview Image -->
        <img class="img-responsive" src="{{restImg}}">

        <hr>

        <!-- Post Content -->
        <p class="lead">
            {{restDescription}}
        </p>

        {{#if restDish.length}}
            {{each restDish}}
                <p>
                    {{this.Name}}:  {{this.Description}}
                </p>
        {{/if}}


        <hr>

        <!-- Where to eat-->
        <div class="row">
            <div class="col-md-5">
                <u><i><h3>Where to eat</h3></i></u>
                <h4>Restaurant Name:</h4>
                <label id="getLoca">Click to Direct</label>
                <button type="button" class="btn btn-default btn-sm" onclick="getLocation()">
                <span class="glyphicon glyphicon-pushpin"></span>
                Direct to restaurant
                </button>
            </div>
            <!-- display map -->
            <div class="col-md-7">
                <div id="googleMap" style="width:400px;height:300px;display:none" ></div>
            </div>
        </div>
        <hr>




        <!-- Posted Comments -->

        <!-- Comment -->
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">HIHI Son
                    <small>August 25, 2014 at 9:30 PM</small>
                </h4>
                I tries this. Very Good!
            </div>
        </div>

        <!-- Comment -->
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">HIHI SON 2
                    <small>August 25, 2014 at 9:30 PM</small>
                </h4>
                辣到跳舞。>.<
            </div>
        </div>
        <hr>
    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Blog Categories Well -->
        <div class="well">
            <h4>Rating 1 to 5</h4>
            <div class="row">
                <div class="col-lg-6">


                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <!-- /.row -->
        </div>

        <!-- Side Widget Well -->
        <div class="well">
            <h4>Related Recommendation</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
        </div>

    </div>

</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script >
    var x = document.getElementById("getLoca");
    var y = document.getElementById("googleMap");
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    function showPosition(position) {
        var latlon = position.coords.latitude + "," + position.coords.longitude;
        var myCenter=new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
        var mapProp = {
          center:myCenter,
          zoom:15,
          mapTypeId:google.maps.MapTypeId.ROADMAP
          };
        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
        var marker=new google.maps.Marker({
          position:myCenter,
          animation:google.maps.Animation.BOUNCE
          });
        marker.setMap(map);
        y.style.display='inline-block';
    }
    function showError(error) {

        switch(error.code) {
            case error.PERMISSION_DENIED:
                x.innerHTML = "Location information is unavailable."
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML = "Location information is unavailable."
                break;
            case error.TIMEOUT:
                x.innerHTML = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML = "An unknown error occurred."
                break;
        }
    }
</script>
