<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>
$(document).ready(function(){
  $('input.typeahead').typeahead({
      name:'',
  });
}); -->
<!-- Page Content -->
<link href="../css/search.css" rel="stylesheet">



<div class="container">


<!-- Content Row -->
<div class="row">

    <!-- Blog Post Content Column -->

    <!-- <div id="prefetch">
      <input class="typeahead" type="text" placeholder="Oscar winners for Best Picture">
    </div> -->
    <div class="col-lg-8">
        <h2>Looking for challenges ?</h2>
        <div id="prefetch">
          <div class="input-group col-md-12">
            <form id="search" name="search" action="/search" method="POST" enctype="multipart/form-data">
            <fieldset>
            <div class="form-group">
              <input  class="form-control typeahead" type="text" name="query" id="query" placeholder="Food Name/Restaurant Name" />
              </div>
              <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
              </span>
            </fieldset>
          </form>
          </div>

        </div>
  </div>
</div>
  {{#if searchResult}}
    <div class=".col-md-8">
      <h3>There are <b>{{searchResult.length}}</b> matched result/results found.</h3>
    </div>

  {{#each searchResult}}
  <hr>
    <div class=".col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><b>    {{this.Name}}</b></h4>
        </div>
        <div class="panel-body">
          <p><a href="/restaurant?rest={{this.ItemID}}"><img src="{{this.ImageSrc}}" class="img-rounded" width="304" height="236"></a></p>
        </div>
      </div>
    </div>
  {{/each}}

  {{else if NotSearch}}
    <div class=".col-md-8">
      <h3>There is <b>0</b> matched result/results found.</h3>
    </div>
  {{/if}}
</div>
